nav li {
    font-size: small;
    list-style-type:none;
    display:inline-block;
    margin: 10px;
    font-family: Helvetica;
    
}

nav.topleft {
    display:inline-block;
    margin-top: 10px;
    
  }
nav.topright {
    display:inline-block;
    margin-top: 10px;
    float:right;
}

img {
    display:block;
    margin:auto;
    margin-top: 10%;
}
#myText {
    display:block;
    margin:auto;
    margin-top: 5%;
    padding-left:25px;
    width: 35%;
    height:42px;
    border: 1px solid #cccccc;
    border-radius: 22px; 
    outline:none;
    font-size: 16px;
}
input:hover {
    box-shadow: 2px 2px 2px 2px;
    color: #eeeeee;
}
div {
    text-align: center;
}
button {
    background-color: #eeeeee;
    width:100px;
    height:40px;
    border-radius: 4px;
    border:none;
    margin:25px 10px;
}
p {
    font-size: medium;
    margin-top: 10%;
    padding:15px;
    bottom:25p;
    font-family: Helvetica;
    background-color: #cccccc;
    width:100%;
}

nav.bottomleft {
    display:inline-block;
    float:left;
}
nav.bottomright {
    display:inline-block;
    float:right;
}

.footer {
    display:block;
    bottom:0;
    width:100%;
    height:25px;
    padding:10px;
    background-color: #cccccc;
}



